<%- include('partials/header') %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="/channel"><button>Go to a Channel</button></a>
<a href="/channel/new"><button>Create a new Channel</button></a>

<%- include('partials/dependencies') %>
<%- include('partials/footer') %>