<%- include('../partials/header') %>

<% if(channel === undefined){ /* STATE1 (undefined) */ %>

    <p>Choose a channel, or enter the id in the address bar manually.</p>
    <ul>
        <% list.forEach(function(c){ %>
            <li>
                <a href="/channel/<%=c._id%>"><%= c.name %>  at <%= c._id %></a>
            </li>
        <% }); %>
    </ul>

<% } else if(channel === null) { /* STATE2 (null) */ %>

    <p>Couldn't find the requested channel.</p>
    <ul>
        <% list.forEach(function(c){ %>
            <li>
                <a href="/channel/<%=c._id%>"><%= c.name %>  at <%= c._id %></a>
            </li>
        <% }); %>
    </ul>

<% } else { /* STATE3 (obj) */ %>

    <p>Found channel <%= channel.name %></p>
    <a href="/channel/<%= channel._id %>"><button>Enter</button></a>

<% } %>


<%- include('../partials/dependencies') %>
<%- include('../partials/footer') %>